
<div id="finished">
<h2>Finshied Burgers Here!</h2>

<ul>
  {{#each burgers}}
  {{/each}}
</ul>

</div>
<div id= Order>
<h2>Order Here!</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">What kind of burger?:</label>
    <input type="text" id="food" name="name">
  </div>

  <div class="form-group">
    <label for="hungry">Would this complete your order?</label><br>
  </div>

  <button type="submit">Yes!</button>
</form>
</div>
